<section class="content">
      <div class="row">
        <div class="col-md-12 ">
          <div class="col-md-9">
            </div> 
          <div class="col-md-3 left" >
          <button class="btn btn-primary right-aligh" (click)="onBack()">Back</button>
          </div>
        </div>
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <!-- /.box-header -->
            
            <div class="box-body">
      
<div class="table">
              <table id="example" class="table table-bordered table-striped">
                <thead>
                <tr>
                 
                    <th><input name="select_all" value="1" id="example-select-all" type="checkbox" /></th>
                  <th>Author Name</th>
                  <th>Source</th>
                  <th>Article Title</th>
                  <th>Status</th>
                  <th>Date</th>
                  <th></th>
                  
                </tr>
                </thead>
                <tbody>
                    
                    
                </tbody>
                <tfoot>
                <tr>
                  
                  <th></th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Gender</th>
                  <th>Date</th>
                  <th></th>
                </tr>
                </tfoot>
              </table>
</div>          </div>
          </div>
          <!-- /.box -->

          <!-- Form Element sizes -->

          <!-- /.box -->


<div class="col-md-3">
<div class="form-group">
              <label for="article_status_id">Action </label>
              
          </div>
</div>
        </div>
        <!--/.col (left) -->

      </div>
      <!-- /.row -->
    </section>

    <script>


</script>